# Rust
/target
Cargo.lock

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Data (Keep the structure, ignore the large files)
data/processed/*.parquet
data/*.json
!data/LR_weights_quantized.json

# OS
.DS_Store